* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
  
}

.main {
    
}

.header {
    margin: 15px 0px;
}

.header-img {
   
}

.nav{
    justify-content: flex-end;
    /* margin: 15px 0px; */
}   

.nav-items__item     {
    text-transform: uppercase;
    display: inline-block;
    padding-left: 50px;
    list-style: none;
    color: #626262;
    font-family: "Playfair Display";
}

.stories__category {
    margin: 20px 0px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.stories__header {
    width: 397px;
    margin: 20px 0px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
}

.stories__text {
    width: 100%;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    max-height: 20px;
}

.stories__img {
   width: absolute;
}

.stories {
    height: 478px;
}

.subscribe {
    height: 287px;
    width: 100%;
    background-color: #f0f0f0;
}

.footer {
    width: 100%;
    background-color: #f0f0f0;
}

.foot-items {
    text-align: left;
}

.foot-items__item {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 0px 20px;
}

.social-items__item {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 0px 20px;
}