* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin-top: 50px;
}

.nav{
    justify-content: flex-end;
    margin: 15px 0px;
}   

.nav-items__item     {
    text-transform: uppercase;
    margin: 0px;
    padding: 0px 50px;
    display: inline-block;
    list-style: none;
    color: #626262;
    font-family: "Playfair Display";
}

.header-img {
    margin: 50px 0px;
    width: 1061px;
    height: 509px; 
}

.post__category {
    margin: 20px 0px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.post__header {
    width: 397px;
    margin: 20px 0px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
}

.post__text {
    width: 893px;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.subscribe {
    height: 287px;
    width: 100%;
    border: 5px solid black;
    background-color: #f0f0f0;
}

.footer {
    width: 120%;
    border: 5px solid black;
    background-color: #f0f0f0;
}

.foot-items {
    text-align: left;
}

.foot-items__item {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 0px 20px;
}

.social-items__item {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 0px 20px;
}